@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
h2, h3, h4, h5, h6, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--- CSS reset ---*/

:root {
  --emerald-50: #ecfdf5;
  --emerald-400: #34d399;
  --emerald-300: #6ee7b7;
  --emerald-600: #0d9488;
}

* {
  font-family: 'Nunito', sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: min-content;
  gap: 1rem;
  background-color: var(--emerald-400);
}

.title {
  justify-self: center;
  grid-column: span 2;
}

.forum > form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.forum {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  gap: 1rem;
  justify-content: center;
  margin: 3rem;
}

.library {
  background-color: var(--emerald-50);
  border-radius: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 150px repeat(auto-fit, 150px);
  grid-template-rows: auto 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  margin: 3rem;
}

.book {
  background-color: #064e3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  row-gap: 1rem;
  font-size: 0.8rem;
  color: var(--emerald-50);
}

.book-title {
  font-size: 1.1rem;
  min-width: 0;
}

.add {
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--emerald-600);
  color: var(--emerald-50);
  border-radius: 2rem;
  border: 0;
  flex: 1;
}

form.collapse {
  visibility: collapse;
}

.add-forum-bg {
  background-color: var(--emerald-50);
}

.remove-book-btn {
  border: 0;
  border-radius: 2rem;
  background-color: var(--emerald-600);
  color: var(--emerald-50);
  font-size: 1.1rem;
}